.btn-basic {
  background-color: #4caf50;
  color: white;
  /*        상하 좌우    버튼 패팅 : 상하패팅보다 좌우패딩 값을 크게 만듬  */
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
/* 버튼 위로 마우스를 올렸을 때 나타나는 변화 스타일 */
.btn-basic:hover {
  background-color: blue;
  color: aqua;
  font-size: 20px;
}
/* 버튼을 클릭했을 때 나타나는 변화 스타일 */
.btn-basic:active {
  background-color: red;
  color: pink;
  font-size: 30px;
}

.btn-pretty {
  background-color: #ff6f61;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 12px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.btn-pretty:hover {
  background-color: #ff3b2e;
  color: #fffde7;
}
.btn-pretty:active {
  background-color: #d6281d;
  color: white;
}
